@import "../config.scss";
@import "../mixin/mixin.scss";

.dmenu {
  width: 20%;

  &-search {
    width: 80%;
    margin: 16px auto;
    display: block;
  }

  &-content {
    width: 80%;
    height: calc(100% - 66px);
    margin: 0 auto;
    padding: 0 8px;
    overflow: auto;
  }

  &-dt {
    font-size: 16px;
    padding: 4px 0;
    line-height: $line-height;
  }

  &-dd {
    font-size: 14px;
    line-height: $line-height;
    padding: 4px 8px;
  }

  &-link {
    &.router-link-exact-active {
      border-bottom: 2px solid $brand-color-default;
    }
  }
}
