@import "../config.scss";
@import "../mixin/mixin.scss";

.dmenu {
  width: 240px;

  &-h2 {
    font-size: 16px;
    padding: 8px 0;
    line-height: 1.5;
    margin-top: 8px;
  }

  &-search {
    width: 80%;
    margin: 24px auto 16px;
    display: block;
  }

  &-content {
    width: 100%;
    height: calc(100% - 72px);
    margin: 0 auto;
    padding: 0 10% 8px;
    overflow: auto;
  }

  &-ul {
    padding: 0 0 8px;
  }

  &-li {
    font-size: 14px;
    line-height: $line-height;
    padding: 4px 0;
  }

  &-dt {
    font-size: 14px;
    padding: 8px 0 4px;
    line-height: $line-height;
    color: $text-color-prompt;
  }

  &-dd {
    font-size: 14px;
    line-height: $line-height;
    padding: 4px 0;
  }

  &-link {
    &-box {
      line-height: $line-height;
      padding: 8px 0;
      margin-top: 0;
    }

    &.router-link-exact-active {
      border-bottom: 2px solid $brand-color-default;
    }
  }
}
