@import "../../config.scss";
@import "../../mixin/mixin.scss";

.doc-drop {
  height: 32px;
  display: flex;

  &-drag {
    @include border();

    flex-wrap: nowrap;
    flex: 1;
    height: 32px;
    line-height: 32px;
    margin-left: -1px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: move;
  }
}
