@import "../../config.scss";
@import "../../mixin/mixin.scss";

.menu {
  &-menu {
    @include border(top);
    @include border(left);
    @include border(bottom);

    position: static;
    height: 200px;
    width: 128px;
  }

  &-main {
    height: 100%;
  }
}
